$icon-size: 36px;

.footer {
  @include flex-center;
  bottom: 0;
  flex-direction: column;
  left: 0;
  padding: 10px;
  position: absolute;
  right: 0;

  @media only screen and (min-width: $media-md) {
    bottom: 20px;
    flex-direction: row;
    justify-content: flex-end;
    left: auto;
    right: 20px;
    width: auto;
  }

  &__social {
    display: flex;
    margin-bottom: 10px;

    & > *:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__link {
    @include flex-center;
    fill: $blue;
    width: $icon-size;
    transition: fill $hover-transition;

    &--rstudio {
      fill: $navy;
      height: $icon-size;
      width: auto;
    }

    &:hover {
      fill: #fff;
    }

    @media only screen and (min-width: $media-md) {
      fill: $navy;
    }
  }

  &__svg {
    width: 100%;

    &--rstudio {
      height: $icon-size;
      width: auto;
    }
  }

  &__text {
    border-top: 1px solid $navy;
    color: $navy;
    font-size: 0.7rem;
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 10px;
    text-align: right;

    @media only screen and (min-width: $media-md) {
      border: none;
      border-right: 1px solid $navy;
      font-size: 0.8rem;
      margin: 0 10px 0 0;
      max-width: 160px;
      padding: 0 10px 0 0;
    }
  }
}