$packages: (
  'shiny-semantic': $color-shiny-semantic,
  'semantic-dashboard': $color-semantic-dashboard,
  'shiny-info': $color-shiny-info,
  'shiny-router': $color-shiny-router,
  'shiny-i18n': $color-shiny-i18n
);

.hex-grid {
  background: $navy;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 0;

  @media only screen and (min-width: $media-lg) {
    max-height: 1080px;
  }

  &__row {
    display: flex;
    width: 100%;
    margin: 0;
    pointer-events: none;
  }

  .cell {
    @include flex-center;
    margin: -1px;
    pointer-events: none;
    position: relative;

    &--interactive:hover {
      transform: scale(1.05);
      z-index: 2;
    }

    &__blank {
      @include flex-center;
      fill: $blue;
      overflow: hidden;
      pointer-events: none;
      transition: fill 0.2s;
      width: 100%;
      position: relative;

      &--interactive {
        cursor: pointer;
      }

      &--attached {
        
      }

      &--detached {
        filter: drop-shadow( 0 0 15px rgba(0,0,0,0.3));
        z-index: 1;        
      }

      & path {
        pointer-events: all;
      }

      &--under4 { fill: mix($navy, $blue, 60%); z-index: -4; }
      &--under3 { fill: mix($navy, $blue, 45%); z-index: -3; }
      &--under2 { fill: mix($navy, $blue, 30%); z-index: -2; }
      &--under1 { fill: mix($navy, $blue, 15%); z-index: -1; }

      @each $name, $color in $packages {
        &--#{$name} {

          &.active,
          &.hovered {
            fill: $color;
            z-index: 1;
          }

          @media only screen and (max-width: $media-lg) {
            
            fill: $color;
          }
        }
      }
    }

    &__label {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: absolute;
      fill: #fff;
      width: 100%;
      pointer-events: none;
    }

    &__logo {
      display: flex;
      pointer-events: none;
      width: 100%;
      z-index: 2;
    }

    &__title {
      color: #fff;
      font-weight: 400;
      font-size: 3.5vw;
      margin-top: 0.5rem;
      text-align: center;
      width: 80%;
      z-index: 2;

      & > span {
        display: inline-block;
      }
  
      @media only screen and (min-width: $media-lg) {
        & {
          display: none;
        }
      }
    }

    &__text {
      color: rgba($color: #fff, $alpha: 0.7);
      font-size: 0.8rem;
      font-weight: 700;
      padding: 20px;
      position: absolute;
      text-align: center;
    }
  }
}

.logo {
  animation: logo 3s infinite alternate ease-in-out;
  fill: none;
  stroke: white;
  stroke-width: 2;
  width: 50%;

  &__triangle {
    animation: triangle 3s infinite alternate ease-in-out;
    stroke-width: 3;    
  }

  &__outer {
    animation: outer 3s infinite alternate ease-in-out;
  }

  &__circle {
    stroke: none;
    fill: #fff;
  }
}