$packages: (
  'shiny-semantic': $color-shiny-semantic,
  'semantic-dashboard': $color-semantic-dashboard,
  'shiny-info': $color-shiny-info,
  'shiny-router': $color-shiny-router,
  'shiny-i18n': $color-shiny-i18n
);

.hex-grid {
  background: $blue;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 0;

  @media only screen and (min-width: $media-md) {
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__row {
    display: flex;
    width: 100%;
    margin: 0;
    pointer-events: none;
  }

  .cell {
    @include flex-center;
    height: 100%;
    margin: -1px;
    pointer-events: none;
    position: relative;

    &--interactive:hover {
      cursor: pointer;
      transform: scale(1.05);
      z-index: 2;
    }

    &__blank {
      @include flex-center;
      fill: $blue;
      overflow: hidden;
      pointer-events: none;
      transition: fill 0.2s;
      width: 100%;
      position: relative;

      &--detached {
        filter: drop-shadow( 0 0 15px rgba(0,0,0,0.3));
        z-index: 1;        
      }

      & path {
        pointer-events: all;
      }

      &--4 { fill: mix($navy, $blue, 60%); z-index: -4; }
      &--3 { fill: mix($navy, $blue, 45%); z-index: -3; }
      &--2 { fill: mix($navy, $blue, 30%); z-index: -2; }
      &--1 { fill: mix($navy, $blue, 15%); z-index: -1; }

      @each $name, $color in $packages {
        &--#{$name} {

          &.active,
          &.hovered {
            fill: $color;
            z-index: 1;
          }

          @media only screen and (max-width: $media-md) {
            
            fill: $color;
          }
        }
      }
    }

    &__label {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: absolute;
      width: 100%;
      pointer-events: none;
    }

    &__logo {
      display: flex;
      pointer-events: none;
      width: 100%;
      z-index: 2;
    }

    &__title {
      color: #fff;
      font-weight: 400;
      font-size: 3vw;
      font-weight: bold;
      margin-top: 0.5rem;
      text-align: center;
      width: 80%;
      z-index: 2;

      & > span {
        display: inline-block;
      }
  
      @media only screen and (min-width: $media-sm) {
        & {
          font-size: 2.2vw;
        }
      }
  
      @media only screen and (min-width: $media-md) {
        & {
          display: none;
        }
      }
    }

    &__text {
      color: rgba($color: $blue-light, $alpha: 1);
      font-size: 0.8rem;
      font-weight: 700;
      padding: 20px;
      position: absolute;
      text-align: center;
  
      @media only screen and (min-width: $media-sm) {
        & {
          font-size: 1rem;
        }
      }
    }
  }
}