.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 20px;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  @media only screen and (min-width: $media-breakpoint) {
    padding: 50px 40px;
  }
 
  &__logo {
    @include flex-center;
    fill: #fff;
    height: 40px;
    pointer-events: all;
    transition: fill 0.15s;

    &:hover {
      fill: $navy;
    }
  }

  &__svg {
    height: 100%;
  }
}

.menu {
  display: none;

  @media only screen and (min-width: $media-breakpoint) {
    display: flex;
  }

  &__link {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    pointer-events: all;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.burger-button {
  @include button;
  fill: #fff;
  pointer-events: all;
  width: 24px;

  @media only screen and (min-width: $media-breakpoint) {
    display: none;
  }

  &__svg {
    width: 100%;
  }
}