.info {
  align-items: flex-start;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 2;

  &--visible {
    visibility: visible;
  }

  @media only screen and (min-width: 768px) {
    & {
      align-items: flex-start;
      background: none;
      bottom: 100px;
      display: flex;
      flex-direction: column;
      height: auto;
      left: 150px;
      max-width: 400px;
      position: fixed;
      top: auto;
      visibility: hidden;
      width: 100%;
      z-index: 2;

      &--visible {
        visibility: visible;
      }
    }
  }

  &__hero {
    @include flex-center;
    background-color: #fff;
    flex-direction: column;
    padding: 30px;
    padding-top: 70px;
    width: 100%;

    &--shiny-semantic { background-color: $color-shiny-semantic; }
    &--semantic-dashboard { background-color: $color-semantic-dashboard; }
    &--shiny-info { background-color: $color-shiny-info; }
    &--shiny-router { background-color: $color-shiny-router; }
    &--shiny-i18n { background-color: $color-shiny-i18n; }

    @media only screen and (min-width: 768px) {
      background: none;
      padding: 0;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 30px;

    @media only screen and (min-width: 768px) {
      padding: 0;
    }
  }

  &__svg {
    fill: #fff;
    max-width: 250px;
    width: 100%;

    @media only screen and (min-width: 768px) {
      display: none;
    }
  }

  &__heading {
    font-size: 1.3rem;
    font-weight: 500;

    @media only screen and (min-width: 768px) {
      align-self: stretch;
      border-bottom: 3px solid #fff;
      font-size: 2.5rem;
      padding-bottom: 1rem;
      margin-bottom: 1.5rem;
      
    }
  }

  &__text {
    color: #000;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 0;

    @media only screen and (min-width: 768px) {
      color: #fff;
    }
  }

  &__button {
    @include button;
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
    margin-top: 1rem;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: uppercase;

    &--shiny-semantic { background-color: $color-shiny-semantic; }
    &--semantic-dashboard { background-color: $color-semantic-dashboard; }
    &--shiny-info { background-color: $color-shiny-info; }
    &--shiny-router { background-color: $color-shiny-router; }
    &--shiny-i18n { background-color: $color-shiny-i18n; }

    @media only screen and (min-width: 768px) {
      &--back {
        display: none;
      }
    }
  }
}