.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 50px 40px;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  &--mobile {
    display: none;
  }

  @media only screen and (max-width: 768px) {
    &--desktop {
      display: none;
    }
    &--mobile {
      display: flex;
    }
  }
 
  &__logo {
    align-items: center;
    display: flex;
    fill: #fff;
    flex-grow: 1;
    height: 50px;
    justify-content: start;
    pointer-events: all;
    transition: fill 0.15s;

    &:hover {
      fill: $navy;
    }
  }

  &__svg {
    height: 100%;
  }

  &__link {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    pointer-events: all;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.wrapper {
  background: $navy;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

  @media only screen and (max-width: 768px) {
    & {
      overflow-y: auto;
    }
  }
}

.burger-button {
  @include button;
  fill: #fff;
  pointer-events: all;
  width: 30px;

  &__svg {
    width: 100%;
  }
}