
// Colors
$blue: #0099f9;
$navy: #15354a;
$ice: #a6d5e0;
$yellow: #fcd73d;
$rose: #ff364a;
$purple: #770f7c;
$gray: #6e757b;
$gray-light: #8a8e91;
$ash: #b3b8ba;

$gray-dark: #525252;
$ash-light: #e3e7e9;