
// Colors
$blue: #0099f9;
$blue-light: lighten($blue, 30%);
$navy: #15354a;
$ice: #a6d5e0;
$yellow: #fcd73d;
$rose: #ff364a;
$purple: #770f7c;
$gray: #6e757b;
$gray-light: #8a8e91;
$ash: #b3b8ba;

$gray-dark: #525252;
$ash-light: #e3e7e9;

$color-shiny-semantic: #F4B830;
$color-semantic-dashboard: #4AB76C;
$color-shiny-worker: #fcc000;
$color-shiny-info: #87D7E3;
$color-shiny-router: #F24D54;
$color-shiny-i18n: #F24D54;
$color-shiny-react: #87D7E3;
$color-shiny-fluent: #4AB76C;
$color-data-validator: #F24D54;
$color-rhino: #8E90F3	;
$color-shiny-benchmark: #F24D54;
$color-shiny-blueprint: #87D7E3;
$color-shiny-telemetry: #4AB76C;
$color-shiny-emptystate: #87D7E3;
$color-reactable-extras: #F4B830;

$menu-transition: 0.3s;
$hover-transition: 0.15s;
$info-transition: 0.3s;

$info-left-offset: 6%;
$info-max-width: 400px;

$header-height-mobile: 60px;
$header-height-desktop: 120px;

// Media
$media-sm: 480px;
$media-md: 768px;
$media-lg: 1024px;
$media-xl: 1200px;
