
// Colors
$blue: #0099f9;
$blue-light: lighten($blue, 30%);
$navy: #15354a;
$ice: #a6d5e0;
$yellow: #fcd73d;
$rose: #ff364a;
$purple: #770f7c;
$gray: #6e757b;
$gray-light: #8a8e91;
$ash: #b3b8ba;

$gray-dark: #525252;
$ash-light: #e3e7e9;

$color-shiny-semantic: #F0873B;
$color-semantic-dashboard: #3FAD61;
$color-shiny-worker: #fcc000;
$color-shiny-info: #4db6e4;
$color-shiny-router: #E24D55;
$color-shiny-i18n: #A04291;
$color-shiny-react: #50c5d8;
$color-shiny-fluent: #59d3aa;
$color-data-validator: #15354a;
$color-rhino: #4747B1;
$color-shiny-benchmark: #B30928;

$menu-transition: 0.3s;
$hover-transition: 0.15s;
$info-transition: 0.3s;

$info-left-offset: 6%;
$info-max-width: 400px;

$header-height-mobile: 60px;
$header-height-desktop: 120px;

// Media
$media-sm: 480px;
$media-md: 768px;
$media-lg: 1024px;
$media-xl: 1200px;